@import "settings";
@import "foundation";

body {
  background-color: grey;
}

.contenido {
  margin-top: 10px;
}

.spell-popup {
  $popup-background: #fff;
  // Use this mixin to override the default styles for panels
  @include popup(
    $width: 600px //rem-calc(600) // Should be an absolute value like px or rem
    // $background: $popup-background, // Background color
    // $radius: $popup-radius, // Border radius
    // $shadow: $popup-shadow, // Box shadow
    // $border: $popup-border // Border
  );
}
