---
name: home
url: /
---

<div class="grid-block small-up-1 medium-up-3 large-up-4">

  <a ui-sref="spells({clase: 'bardo'})">
    <div class="grid-content">
      <div class="dark card"><img src="assets/img/Bardo.jpg" alt=""></img>
        <div class="card-section">
          <h3>Bardo</h3>
        </div>
      </div>
    </div>
  </a>
  <a ui-sref="spells({clase: 'brujo'})">
    <div class="grid-content">
      <div class="dark card"><img src="assets/img/Brujo.jpg" alt=""></img>
        <div class="card-section">
          <h3>Brujo</h3>
        </div>
      </div>
    </div>
  </a>
  <a ui-sref="spells({clase: 'clerigo'})">
    <div class="grid-content">
      <div class="dark card"><img src="assets/img/Clerigo.jpg" alt=""></img>
        <div class="card-section">
          <h3>Clérigo</h3>
        </div>
      </div>
    </div>
  </a>
  <a ui-sref="spells({clase: 'druida'})">
    <div class="grid-content">
      <div class="dark card"><img src="assets/img/Druida.jpg" alt=""></img>
        <div class="card-section">
          <h3>Druida</h3>
        </div>
      </div>
    </div>
  </a>
  <a ui-sref="spells({clase: 'explorador'})">
    <div class="grid-content">
      <div class="dark card"><img src="assets/img/Explorador.jpg" alt=""></img>
        <div class="card-section">
          <h3>Explorador</h3>
        </div>
      </div>
    </div>
  </a>
  <a ui-sref="spells({clase: 'hechicero'})">
    <div class="grid-content">
      <div class="dark card"><img src="assets/img/Hechicero.jpg" alt=""></img>
        <div class="card-section">
          <h3>Hechicero</h3>
        </div>
      </div>
    </div>
  </a>
  <a ui-sref="spells({clase: 'mago'})">
    <div class="grid-content">
      <div class="dark card"><img src="assets/img/Mago.jpg" alt=""></img>
        <div class="card-section">
          <h3>Mago</h3>
        </div>
      </div>
    </div>
  </a>
  <a ui-sref="spells({clase: 'paladin'})">
    <div class="grid-content">
      <div class="dark card"><img src="assets/img/Paladin.jpg" alt=""></img>
        <div class="card-section">
          <h3>Paladín</h3>
        </div>
      </div>
    </div>
  </a>

</div>
