---
name: spells
url: /spells:clase
controller: SpellsController
---
<!-- Menú para pantallas grandes -->
<div sticky offset="10" class="show-for-medium">
  <ul class="menu-bar topmenu" style="background-color: rgba(205, 198, 177, 0.8);">
    <li ui-sref-active="activo"><a class="titulo" ui-sref="spells({clase: 'bardo'})">Bardo</a></li>
    <li ui-sref-active="activo"><a class="titulo" ui-sref="spells({clase: 'brujo'})">Brujo</a></li>
    <li ui-sref-active="activo"><a class="titulo" ui-sref="spells({clase: 'clerigo'})">Clérigo</a></li>
    <li ui-sref-active="activo"><a class="titulo" ui-sref="spells({clase: 'druida'})">Druida</a></li>
    <li ui-sref-active="activo"><a class="titulo" ui-sref="spells({clase: 'explorador'})">Explorador</a></li>
    <li ui-sref-active="activo"><a class="titulo" ui-sref="spells({clase: 'hechicero'})">Hechicero</a></li>
    <li ui-sref-active="activo"><a class="titulo" ui-sref="spells({clase: 'mago'})">Mago</a></li>
    <li ui-sref-active="activo"><a class="titulo" ui-sref="spells({clase: 'paladin'})">Paladín</a></li>
    <li ui-sref-active="activo"><a class="titulo" ui-sref="favoritos">Favoritos</a></li>
  </ul>
</div>

<!-- Menú para pantallas pequenas -->
<zf-action-sheet sticky offset="10" class="button show-for-small hide-for-medium" style="position:absolute; left: auto; right: 0px; z-index:10; background-color: rgba(205, 198, 177, 0.8);">
  <zf-as-button>=</zf-as-button>
  <zf-as-content position="top"  style="background-color: rgba(205, 198, 177, 0.8);">
    <ul>
      <li ui-sref-active="activo"><a class="titulo" ui-sref="spells({clase: 'bardo'})">Bardo</a></li>
      <li ui-sref-active="activo"><a class="titulo" ui-sref="spells({clase: 'brujo'})">Brujo</a></li>
      <li ui-sref-active="activo"><a class="titulo" ui-sref="spells({clase: 'clerigo'})">Clérigo</a></li>
      <li ui-sref-active="activo"><a class="titulo" ui-sref="spells({clase: 'druida'})">Druida</a></li>
      <li ui-sref-active="activo"><a class="titulo" ui-sref="spells({clase: 'explorador'})">Explorador</a></li>
      <li ui-sref-active="activo"><a class="titulo" ui-sref="spells({clase: 'hechicero'})">Hechicero</a></li>
      <li ui-sref-active="activo"><a class="titulo" ui-sref="spells({clase: 'mago'})">Mago</a></li>
      <li ui-sref-active="activo"><a class="titulo" ui-sref="spells({clase: 'paladin'})">Paladín</a></li>
      <li ui-sref-active="activo"><a class="titulo" ui-sref="favoritos">Favoritos</a></li>
    </ul>
  </zf-as-content>
</zf-action-sheet>

<!--                                      -->
<section class="block-list">
  <ul>
    <li ng-repeat="hechizo in hechizos">
      <!-- <a href="#" ui-sref="detalle({id: hechizo._id})"> -->
      <a href="#!/spell{{hechizo._id}}" id="spell_link">
        <div class="spell-name">{{hechizo.nombre}}</div>
        <!-- <i style="font-size:0.85em">{{hechizo.tipo}}</i> -->
        <div class="spell-type">{{hechizo.tipo}}</div>
      </a>
    </li>
  </ul>
</section>
